[v-cloak] > * {
    display: none;
}
[v-cloak]::before {
    content: 'loading...';
}

/* 
===================
Fonts (Original Surfer + Open Sans Condensed)
Fonts (Pacifico, Open Sans)  
===================
*/

/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Original+Surfer&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Pacifico&display=swap'); */

/*
=============== 
Variables
===============
*/

:root {
    /*  HAWAIIAN COLOR PATTERN */
    --baby: #45a6cc;
    --babyMid: #4591cc;
    --babyDark: #457bcc;
    --lila: #5b2fb2;
    --pink: #e541a5;
    --sun: #ecc03a;
    --bright: #f0e047;
    /*  HAWAIIAN FONT PAIRING */
    --ff-head: 'Original Surfer', cursive;
    --ff-text: 'Open Sans Condensed', sans-serif;
    /* --ff-head: 'Pacifico', cursive;
    --ff-text: 'Open Sans', sans-serif; */
    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.75rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
}

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--ff-text);
    background-color: var(--sun);
    background: linear-gradient(
        0deg,
        rgba(69, 166, 204, 1),
        rgba(69, 123, 204, 1)
    );
    color: var(--lila);
    line-height: 1.5;
    font-size: 0.875rem;
    height: 100%;
    /* COMMENT OUT LATER */
}

ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
h1,
h2,
h3,
h4 {
    /* letter-spacing: var(--spacing); */
    /* text-transform: capitalize; */
    line-height: 1.25;
    margin-bottom: 0.75rem;
    font-weight: 600;
    color: var(--bright);
}
h1 {
    text-transform: capitalize;
    font-size: 3rem;
    font-family: var(--ff-head);
}
h2 {
    font-size: 2rem;
    font-family: var(--ff-head);
}
h3 {
    font-size: 1.25rem;
}
h4 {
    font-size: 0.875rem;
}
p {
    margin-bottom: 1.25rem;
}

img {
    width: 100%;
    display: block;
}
@media screen and (min-width: 800px) {
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 1.75rem;
    }
    h4 {
        font-size: 1rem;
    }
    body {
        font-size: 1rem;
    }
    h1,
    h2,
    h3,
    h4 {
        line-height: 1;
    }
}

/*
=============== 
Upload Form
===============
*/
/* STYLING INPUT FIELD */

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    z-index: -1;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 600;
    font-family: var(--ff-head);
    color: var(--babyDark);
    background-color: var(--bright);
    border-radius: var(--radius);
    display: inline-block;
    cursor: pointer;
    padding: 1rem 2rem;
    box-shadow: var(--light-shadow);
    transition: var(--transition);
}

.inputfile:focus + label,
.inputfile + label:hover {
    transform: scale(1.1);
}

/*  FORM */

form {
    width: 80%;
}
.form-center {
    width: 80vw;
    min-height: 600px;
    max-width: 800px;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    background: linear-gradient(
        0deg,
        rgba(69, 166, 204, 0.7),
        rgba(69, 123, 204, 1)
    );
    box-shadow: var(--dark-shadow);
    border-radius: var(--radius);
}

.form-item {
    display: grid;
    justify-items: center;
    align-items: center;
}
.form-item h2 {
    font-size: 2rem;
    font-style: var(--ff-text);
}
.form-item h3 {
    font-size: 1.5rem;
    font-style: var(--ff-text);
    padding-bottom: 1.5rem;
}
.field {
    width: 100%;
    padding: 0.4rem 0.5rem;
    background-color: rgba(255, 255, 255, 0.9);
    font-size: 1rem;
    font-family: var(--ff-text);
    margin-bottom: 1rem;
    outline: none;
    border: solid 2px rgba(0, 0, 0, 0);
    transition: var(--transition);
    border-radius: var(--radius);
}

.field:focus {
    background-color: rgba(255, 255, 255, 1);
    border: 2px solid rgba(240, 224, 71, 1);
}

.upload-btn {
    width: 100%;
    padding: 0.4rem 0.5rem;
    font-size: 1.1rem;
    font-family: var(--ff-head);
    color: var(--bright);
    background-color: #4bb2dc;
    border-radius: var(--radius);
    box-shadow: var(--light-shadow);
    margin-bottom: 1rem;
    outline: none;
    border: none;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🌈</text></svg>")
            16 0,
        auto;
    transition: var(--transition);
}

.upload-btn:hover {
    background-color: #57bfe8;
    transform: scale(1.02);
}

@media screen and (min-width: 800px) {
    .form-item h2 {
        font-size: 2.25rem;
        font-style: var(--ff-text);
    }
    .form-item h3 {
        font-size: 1.5rem;
        font-style: var(--ff-text);
        padding-bottom: 1.5rem;
    }
    .form-center {
        min-height: 430px;
    }
    .upload-btn {
        margin-bottom: 1rem;
    }
    .choose-file {
        border-top-right-radius: var(--radius);
        border-bottom-right-radius: var(--radius);
    }
}
.choose-file {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 200px;
    background: linear-gradient(
            0deg,
            rgba(69, 123, 204, 0.2),
            rgba(69, 166, 204, 0.3)
        ),
        url('/img/bg.jpg');
    background-size: cover;
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
}

/* 992px */
@media screen and (max-width: 768px) {
    .form-center {
        grid-template-columns: 1fr;
        column-gap: 2rem;
    }
}

.tags-container {
    font-family: var(--ff-head);
    color: var(--bright);
    background-color: rgba(87, 191, 232, 0.5);
}

/*
=============== 
Images Section
===============
*/

.title {
    text-align: center;
}

.images-container {
    padding: 4rem 0;
}
.images-center {
    width: 80vw;
    margin: 2rem auto;
}

.image {
    border-radius: 2rem;
    margin-bottom: 3rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 360px 1fr auto;
    z-index: 2;
    align-items: start;
    box-shadow: var(--dark-shadow);
    transition: var(--transition);
    cursor: pointer;
}

.image a {
    height: 360px;
}
.image:hover {
    transform: scale(1.02);
}
.image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 0%;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}
.image-info {
    height: 100%;
    min-height: 100px;
    /* max-width: 495px; */
    padding: 1rem;
    background: linear-gradient(
        0deg,
        rgba(69, 143, 204, 1),
        rgba(69, 166, 204, 1)
    );
}

.image-info h3 {
    font-family: var(--ff-head);
    font-size: 2rem;
    /* max-width: 495px; */
    overflow: hidden;
}
.image-info p {
    font-size: 1rem;
    color: var(--bright);
    /* max-width: 495px; */
    overflow: hidden;
}
.image-footer {
    background: var(--pink);
    padding: 0.5rem 1rem;
    width: 100%;
    min-height: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.image-footer span {
    color: var(--bright);
}

.more-btn {
    text-align: center;
}

.more-btn button {
    width: 150px;
    padding: 0.4rem 0.5rem;
    font-size: 1.5rem;
    font-family: var(--ff-head);
    color: var(--bright);
    background-color: #4bb2dc;
    border-radius: var(--radius);
    box-shadow: var(--light-shadow);
    margin-bottom: 1rem;
    outline: none;
    border: none;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🌈</text></svg>")
            16 0,
        auto;
    transition: var(--transition);
}

.more-btn button:hover {
    background-color: #57bfe8;
    transform: scale(1.02);
}

@media screen and (min-width: 768px) {
    .images-center {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
    }
}

@media screen and (min-width: 992px) {
    .images-center {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

/*
=============== 
Modal 
===============
*/
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: linear-gradient(
        0deg,
        rgba(229, 65, 165, 0.95),
        rgb(229, 65, 165, 0.9)
    );
    z-index: 10;
    display: grid;
    justify-items: center;
    align-items: center;
    transition: var(--transition);
}

.modal-container {
    padding-top: 2rem;
    width: 88vw;
    max-width: 600px;
    display: grid;
    grid-template-rows: auto auto 1fr;
    justify-items: center;
    align-items: center;
    transition: var(--transition);
}

.modal-container img {
    max-height: 600px;
    min-height: 360px;
    max-width: 600px;
    object-fit: cover;
    object-position: 50% 0%;
    border-radius: var(--radius);
}

.modal-title-container {
    margin-top: 2rem;
    align-self: center;
    justify-self: start;
}
.modal-title-container span {
    color: var(--lila);
}

.close-btn {
    position: absolute;
    right: 30px;
    top: 30px;
    z-index: 20;
    cursor: pointer;
    color: var(--bright);
}

.close-btn:hover {
    transform: scale(1.1);
    color: var(--bright);
}

@media screen and (max-width: 768px) {
    .close-btn {
        top: 20px;
    }
    .modal-container img {
        margin-top: 3rem;
    }
}

/*
=============== 
Comments
===============
*/

.comments {
    padding-top: 4rem;
    padding-bottom: 4rem;

    width: 100%;
    /* align-self: center;
    justify-self: center; */
}

.comments-container {
    width: 100%;
    display: grid;
    grid-template-rows: 100px 220px;
    align-items: center;
    justify-items: center;
    height: 100%;

    /* margin: 4rem auto; */
}

.comments-title {
    /* background-color: var(--lila);
    opacity: 0.9; */
    padding-top: 1rem;
    background: linear-gradient(
        0deg,
        rgba(69, 123, 204, 0.9),
        rgba(69, 166, 204, 0.7)
    );
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;

    height: 100%;
    width: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
}

.comments-inputs {
    background: linear-gradient(
        0deg,
        rgba(69, 166, 204, 0.7),
        rgba(69, 123, 204, 0.9)
    );
    height: 100%;
    width: 100%;
    padding-top: 1rem;
    display: grid;
    align-items: center;
    justify-items: center;
}

.comment-item {
    width: 100%;
    margin: 0;
    display: grid;
    justify-items: center;
    align-items: center;
}
.comment-item input {
    width: 90%;
    margin: 0;
}

.posted-comments {
    padding: 2rem 0;
    width: 100%;
    background: linear-gradient(
        0deg,
        rgba(69, 123, 204, 0.5),
        rgba(69, 166, 204, 0.7)
    );
    display: grid;
    justify-items: center;
    align-items: center;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.posted-comments h3 {
    color: var(--bright);
    font-family: var(--ff-head);
}
.posted-comments h4 {
    color: var(--bright);
}

.posted-comments span {
    color: var(--pink);
}
